{% load static %}
{% load costum_tags %}
{% load humanize %}

<div class="chat-area" id="chat-area-{{ box_ID }}">
    <div class="chat-area-header" id="chat_header_area_id">
        <img class="msg-profile" src="{{Chats_BOX.img}}" alt="" />
        <div class="chat-area-title">{{Chats_BOX.title}}</div>
        <div class="chat-area-group">
            <a class="cursor_pointer function_btn" onclick="open_details_area('{{box_ID}}')"><i class="bx bx-cog bx-md"></i></a>
        </div>
    </div>
    <div class="chat-area-main" id="chat_main_area_id" style="overflow-y: auto;display: flex;flex-direction: column;overflow-y: auto; height:100%!important; width: 100%!important; flex-direction: column-reverse;">
        {% for chat in chat_msg_data %}
                  
                  <div class="chat-msg {% if user.email == chat.user %} owner {% endif %}">
                    {% if not user.email == chat.user %}
                      {% if not forloop.last %}
                        {% with next_item=chat_msg_data|prev_elem_in_for:forloop.counter0 %}
                            {% if not next_item.user == chat.user %}
                                <div class="chat-msg-profile">
                                  <img class="chat-msg-img" src="{{ chat.sender_profile_pic.url }}" alt="" />
                                  <div class="chat-msg-date">{{ chat.chat_date }}</div>
                                </div>
                            {% else %}
                              <div class="chat-msg-profile">
                                <div class="chat-msg-date">{{ chat.chat_date }}</div>
                              </div>
                            {% endif %}
                        {% endwith %}
                      {% else %}
                        <div class="chat-msg-profile">
                          <img class="chat-msg-img" src="{{ user.profile_pic.url }}" alt="" />
                          <div class="chat-msg-date">{{ chat.chat_date }}</div>
                        </div>
                      {% endif %}
                    {% endif %}
                    <div class="chat-msg-content">
                      
                        {% if chat.files.file_check %}
                                <div class="chat-msg-text">
                                    {% if F.file_type == "excel" %}
                                        <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="ri-file-excel-2-line fp_icon" ></i></a>
                                    {% elif F.file_type == "pdf" %}
                                        <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="bi bi-file-earmark-pdf fp_icon" ></i></a>
                                    {% elif chat.files.file_type == "img" or  chat.files.file_type == "gif" %}
                                        <a class="nav-link nav-icon show" href="{{ chat.files.file.url }}" download><img src="{{  chat.files.file.url }}" alt="Image" ></a>
                                    {% elif F.file_type == "word" %}
                                        <a class="nav-link nav-icon show" href="{{ F.file_save.url }}" download><i class="bi bi-file-earmark-word fp_icon" ></i></a>
                                    {% else %}
                                        <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="ri-file-line fp_icon" ></i></a>
                                    {% endif %}
                                </div>
                            {% else %}
                            <script>console.log()</script>
                            {% if chat.contain_files %}
                            
                                {% for F in chat.files %}
                                    <div class="chat-msg-text">
                                        {% if F.file_type == "excel" %}
                                            <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="ri-file-excel-2-line fp_icon" ></i></a>
                                        {% elif F.file_type == "pdf" %}
                                            <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="bi bi-file-earmark-pdf fp_icon" ></i></a>
                                        {% elif F.file_type == "img" or  F.file_type == "gif" %}
                                            <a class="nav-link nav-icon show" href="{{F.file.url }}" download><img src="{{  F.file.url }}" alt="Image" ></a>
                                        {% elif F.file_type == "word" %}
                                            <a class="nav-link nav-icon show" href="{{ F.file_save.url }}" download><i class="bi bi-file-earmark-word fp_icon" ></i></a>
                                        {% else %}
                                            <a class="nav-link nav-icon show"  href="{{ F.file_save.url }}" download><i class="ri-file-line fp_icon" ></i></a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                      {% if chat.contain_txt %}
                        <div class="chat-msg-text">{{ chat.chat }}</div>
                      {% endif %}
                      
                    </div>
                      
                      
                      
                  </div>
                {% endfor %}
    </div>


    <div class="chat-area-footer">
      <div id="popup_File" class="popup_File">
        <a class="popup_File_close function_btn" onclick="popup_File_close()"><i class="bx bx-x bx-sm"></i></a>

      </div>
      <form class="chat-area-footer-form" method="POST" onsubmit="return false">
        {% csrf_token %}
        
        <a class="a_btn"><i class="bx bxs-face bx-sm "></i></a>

        <label for="file-input">
          <a class="a_btn"><i class="fa fa-paperclip" ></i></a>
        </label>
        <input type="file" multiple  id="file-input" style="display: none;"></input>
        
        <input type="text" id="text_input"  placeholder="Type something here..."  onsubmit="sendMessage('{{box_ID}}')" />
        
        <script>
        </script>

        
        <a class="a_btn " id="sendMessage" onclick="sendMessage('{{box_ID}}')"><i class="bx bx-send bx-sm btn"></i></a>

        
      </form>
    </div>
</div>

<script>$('#file-input').change(function(){
  var fi=$('#file-input').prop('files');
  displayPreviews(fi);
})

const popup_File = document.querySelector('.popup_File');
var popup_File_id = document.getElementById('popup_File_id');
const closeBtn = document.querySelector('.close');
//const fileInput = document.getElementById('file-input');
//const previewContainer = document.getElementById('previewContainer');

window.addEventListener('click', (event) => {
    if (event.target === popup_File) {
        popup_File.style.display = 'none';
        clearPopup_File();
    }
});


document.addEventListener('DOMContentLoaded', displayPreviews);
function displayPreviews(files) {
    clearPopup_File();
    $('.popup_File').css('display','flex')
    Array.from(files).forEach(file => {
        if (file.type.startsWith('image/')) {
            const reader = new FileReader();
            
            reader.onload = (e) => {
              const popup_File_content = document.createElement('div');
              popup_File_content.className  = 'popup_File_content'

              const img = document.createElement('img');
              img.src = e.target.result;

              popup_File_content.appendChild(img)
              popup_File.appendChild(popup_File_content);

            };
            reader.readAsDataURL(file);
        } else {
            const link = document.createElement('a');
            link.href = URL.createObjectURL(file);
            link.textContent = file.name;
            link.target = '_blank';
            previewContainer.appendChild(link);
        }
    });
}

function popup_File_close(){
  $('.popup_File').html('');
  clearPopup_File()
  $('.popup_File').css('display','none');
  $('#file-input').val('');
}
function clearPopup_File(){
  $('.popup_File').html('<a class="popup_File_close function_btn" onclick="popup_File_close()"><i class="bx bx-x bx-sm"></i></a>');
}

</script>
<script>var input = document.getElementById("text_input");
  input.addEventListener("keypress", function(event) {
      // If the user presses the "Enter" key on the keyboard
      
      if (event.key === "Enter") {
          $("#sendMessage").click();
      }
    });
  </script>