{% load static %}
{% load costum_tags %}
{% load humanize %}

<div class='conv-area-navig'>
    <a class="conv-area-search-btn c-a-n-show" onclick="load_conv_area()"><i class="bx bx-left-arrow-alt bx-lg"></i></a>
    <a class="conv-area-search-btn c-a-n-hide" onclick="">Search<i class="bx bx-right-arrow-alt bx-lg"></i></a>
</div>

<div class='conv-area-search'>
    <input type="text" id="input-conv-area-search" oninput="onchange_input_CAS()" placeholder="Search...">
    <a class="conv-area-search-btn" onclick="onchange_input_CAS()"><i class="bx bx-search bx-lg"></i></a>
</div>

<div class="conv-area-search-output">
    <div class="c-a-s-o-container"id="load_Profile_search">

    </div>
</div>