{% load static %}
{% load costum_tags %}
{% load humanize %}



<div class="chat-msg {% if user.email == chat.user %} owner {% endif %}">
    {% if not user.email == chat.user %}
      {% if not user.email == chat.user %}
          <div class="chat-msg-profile">
            <img class="chat-msg-img" src="{{ chat.sender_profile_pic.url }}" alt="" />
            <div class="chat-msg-date">{{ chat.chat_date }}</div>
          </div>
      {% else %}
        <div class="chat-msg-profile">
          <div class="chat-msg-date">{{ chat.chat_date }}</div>
        </div>
      {% endif %}

    {% endif %}
    <div class="chat-msg-content">
      

      <div class="chat-msg-text">{{ chat.chat }}</div>
    </div>
      
      
      
  </div>