{% load static %}
{% load costum_tags %}
{% load humanize %}


<div class="chat-msg {% if user.email == chat.user %} owner {% endif %}">
    {% if not user.email == chat.user %}
      {% if not user.email == chat.user %}
          <div class="chat-msg-profile">
            <img class="chat-msg-img" src="{{ chat.sender_profile_pic.url }}" alt="" />
            <div class="chat-msg-date">{{ chat.chat_date }}</div>
          </div>
      {% else %}
        <div class="chat-msg-profile">
          <div class="chat-msg-date">{{ chat.chat_date }}</div>
        </div>
      {% endif %}

    {% endif %}


    <div class="chat-msg-content">

      {% if chat.contain_file or chat.contain_files %}
      
          {% for F in chat.files %}
            {% if chat.chat_files_id == F.chat_file_id %}
              <div class="chat-msg-text">
                  {% if F.file_type == "excel" %}
                      <a class="nav-link nav-icon show"  href="{{ F.file }}" download><i class="ri-file-excel-2-line fp_icon" ></i></a>
                  {% elif F.file_type == "pdf" %}
                      <a class="nav-link nav-icon show"  href="{{ F.file }}" download><i class="bi bi-file-earmark-pdf fp_icon" ></i></a>
                  {% elif F.file_type == "img" or  F.file_type == "gif"  %}
                      <a class="nav-link nav-icon show" href="{{F.file }}" download><img src="{{  F.file }}" alt="Image" ></a>
                  {% elif F.file_type == "word" %}
                      <a class="nav-link nav-icon show" href="{{ F.file }}" download><i class="bi bi-file-earmark-word fp_icon" ></i></a>
                  {% else %}
                      <a class="nav-link nav-icon show"  href="{{ F.file }}" download><i class="ri-file-line fp_icon" ></i></a>
                  {% endif %}
              </div>
            {% endif %}
          {% endfor %}
      {% endif %}
      {% if chat.contain_txt %}
        <div class="chat-msg-text">{{ chat.chat }}</div>
      {% endif %}

    </div>
      
      
      
  </div>